/* left side disabledForm style start */
.Form-disable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: absolute;
  width: 332px;
  height: 337px;
  left: 32px;
  top: 87.5px;
  z-index: 1;
}
/* left side h2 title */
.Form-disable h2 {
  position: static;
  width: 219px;
  height: 38px;
  left: 16px;
  top: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.left-linkButton {
  position: absolute;
  top: 304px;
}
.ImgBox {
  position: absolute;
  margin-left: -3px;
  width: 320px;
  height: 448px;
  left: 32px;
  top: 32px;
}
/* left side disabledForm style end */

/* right side start */
.Tax-results {
  position: absolute;
  width: 280px;
  height: 406px;
  left: 432px;
  top: 52px;
  z-index: 1;
}
.Tax-results-heading {
  position: absolute;
  width: 209px;
  height: 17px;
  left: 0px;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.Tax-results-amount {
  position: absolute;
  width: 280px;
  height: 70px;
  left: 0px;
  top: 25px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
}
.Tax-results-amount p {
  margin: auto;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 70px;
  text-align: center;
  color: #8477c9;
}
.Tax-results-breakdown {
  position: absolute;
  left: 1px;
  top: 111px;
  width: 71px;
  height: 17px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

/* after BreackDown brackets start */
.Brackets {
  position: relative;
  left: 1px;
  width: 278px;
  height: 48px;
  background: #ffffff;
  border-radius: 3px;
}
/* First barckets location */
.No1 {
  margin-top: 136px;
}
/* rest 4 breackDown locations */
.restBarckets {
  margin-top: 7px;
}
/* title: Tax Brackets */
.Brackets-title {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 150px;
  height: 32px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
/* price range */
.Brackets-title p {
  font-weight: normal;
  font-size: 12px;
  color: #000000;
}
/* tax amount in each breakDowns */
.tax-level-value {
  position: absolute;
  width: auto;
  top: 50%;
  margin-top: -11px;
  right: 20px;
  height: 22px;
  margin-right: -10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #8477c9;
}

/* right side start */
